<%= simple_form_for(child) do |f| %>
  <% if child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :gender %>
    <%= f.input :birthdate %>
    <%#= f.input :user_id, hidden: true %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
