<!-- <div class="content"> -->
  <div class="container col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1>Edit Profile</h1>
    </div>
    <div class="card card-plain">
      <%= form_for(@user, :url => { :action => "update" }, class: 'small-3 columns') do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4">
            <fieldset class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: "form-control" %>
            </fieldset>
          </div>
          <div class="col-md-5">
            <fieldset class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "form-control" %>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <fieldset class="form-group">
              <%= f.label :street1 %>
              <%= f.text_field :street1, class: "form-control" %>
            </fieldset>
          </div>
          <div class="col-md-2">
            <fieldset class="form-group">
              <%= f.label :street2  %>
              <%= f.text_field :street2, class: "form-control" %>
            </fieldset>
          </div>
          <div class="col-md-4">
            <fieldset class="form-group">
              <%= f.label :city %>
              <%= f.text_field :city, autocomplete: "off", class: "form-control" %>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <fieldset class="form-group">
              <%= f.label :province %>
              <%= f.text_field :province, class: "form-control" %>
            </fieldset>
          </div>
          <div class="col-md-3">
            <fieldset class="form-group">
              <%= f.label :postcode %>
              <%= f.text_field :postcode, class: "form-control" %>
            </fieldset>
          </div>
          <div class="col-md-3">
            <fieldset class="form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: "form-control" %>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <fieldset class="form-group">
              <%= f.label :primary_city %>
              <%= f.text_field :primary_city, class: "form-control", placeholder:"Main area to see Classes in" %>
            </fieldset>
          </div>
        </div>
        <div class="action_container submit">
          <button type="submit" class="btn btn-info btn-fill pull-right">Edit</button>
        </div>
      <% end %>
      <%= link_to "Click here to update Email or Password", edit_user_registration_path %>
    </div>
  </div>
<!-- </div> -->
