<%= form_for(@event, class: 'small-3 columns') do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="form-group">
    <label>Full Name</label>
    <%= f.text_field :start_time, autofocus: true, class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <label>Postal Code</label>
    <%= f.text_field :end_time, class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :date %>
    <%= f.text_field :date, autofocus: true, class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :ages_group %>
    <%= f.text_field :ages_group, autocomplete: "off", class: "form-control", required: true %>
  </fieldset>
  <button type="submit" class="btn btn-info btn-fill pull-right">Add Event</button>
  <div class="clearfix"></div>
<% end %>
