= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :location_id
    = f.input :start_time
    = f.input :end_time
    = f.input :date
    = f.input :ages_group
    = f.input :activity
    = f.input :title
    = f.input :description
    = f.input :open_spots

  .form-actions
    = f.button :submit
