<%= form_for(@event, class: 'small-3 columns') do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <fieldset class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </fieldset>
    </div>
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :activity %>
        <%= f.text_field :activity, class: "form-control" %>
      </fieldset>
    </div>
    <div class="col-md-5">
      <fieldset class="form-group">
        <%= f.label :location_id %>
        <%= f.select :location_id, options_for_select(@biz_locations),{}, { :class => 'form-control' } %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :start_time %>
        <%= f.time_field :start_time, class: "form-control" %>
      </fieldset>
    </div>
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :end_time %>
        <%= f.time_field :end_time, autocomplete: "off", class: "form-control" %>
      </fieldset>
    </div>
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control" %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :ages_group %>
        <%= f.text_field :ages_group, class: "form-control" %>
      </fieldset>
    </div>
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :open_spots %>
        <%= f.number_field :open_spots, class: "form-control", min:0 %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <fieldset class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </fieldset>
    </div>
  </div>
  <button type="submit" class="btn btn-info btn-fill pull-right"><% if @event.created_at %>Edit Event<% else %>Add Event<% end %></button>
<% end %>
