.container
  .page-header
    = link_to new_event_path, :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Event
    %h1 Listing events

  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Location
          %th Start time
          %th End time
          %th Date
          %th Ages group
          %th Activity
          %th Title
          %th Description
          %th Open spots
          %th
          %th
          %th

      %tbody
        - @events.each do |event|
          %tr
            %td= event.location_id
            %td= event.start_time
            %td= event.end_time
            %td= event.date
            %td= event.ages_group
            %td= event.activity
            %td= event.title
            %td= event.description
            %td= event.open_spots
            %td= link_to 'Show', event
            %td= link_to 'Edit', edit_event_path(event)
            %td= link_to 'Destroy', event, :data => { confirm: 'Are you sure?' }, :method => :delete
