<%= form_for(@location, class: 'small-3 columns') do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-7">
      <fieldset class="form-group">
        <%= f.label :street1 %>
        <%= f.text_field :street1, autofocus: true, class: "form-control" %>
      </fieldset>
    </div>
    <div class="col-md-5">
      <fieldset class="form-group">
        <%= f.label :street2 %>
        <%= f.text_field :street2, class: "form-control" %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <fieldset class="form-group">
        <%= f.label :province %>
        <%= f.text_field :province, autocomplete: "off", class: "form-control" %>
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <%= f.label :neighborhood %>
        <%= f.text_field :neighborhood, class: "form-control" %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :postcode %>
        <%= f.text_field :postcode, class: "form-control" %>
      </fieldset>
    </div>
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
      </fieldset>
    </div>
  </div>
  <fieldset class="form-group">
    <%= f.label :primary_location %>
    <%= f.check_box :primary_location, class: "form-control" %>
  </fieldset>

  <!-- add partner id to the location -->
  <%= f.hidden_field :partner_id, :value => @biz.id %>

  <button type="submit" class="btn btn-info btn-fill pull-right"><% if @location.created_at %>Edit Location<% else %>Add Location<% end %></button>
<% end %>
